@import "../../../styles/scss/variables";
@import "../../../styles/scss/breakpoint";

.button {
  position: relative;
  height: 55px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  color: $color-black;
  z-index: 3;

  @include tablets {
    cursor: auto;

    &.tablets {
      height: 40px;
    }
  }

  &:hover {
    background-color: #d9d9d9;
  }

  &.pink {
    background-color: $color-pink;
    color: #fff;

    &:hover {
      background-color: lighten($color-pink, 5%);
    }
  }
}
