@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';

.cart_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-width: 60px;
  min-height: 60px;
  border: none;
  cursor: pointer;



  @include large {
    cursor: auto;
  }
}

.quantity_of_goods {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $color-yellow;
  border-radius: 50%;
  color: $color-black;
  font-size: 11px;
  opacity: 0;
  z-index: 3;
  //transform: scale(0);

  &.active {
    animation: undefined-easeInElastic 1s reverse;
    //transform: scale(1);
    opacity: 0.99;
  }
}

.cart_icon {
  position: relative;
  z-index: 1;

  &.active {
    animation: undefined-easeInElastic1 3s reverse ease-in-out;
    animation-delay: 0.15s
  }
}

@keyframes undefined-easeInElastic1 {
  0% {
    transform: translateX(0%);
  }

  4% {
    transform: translateX(-0.04%);
  }

  8% {
    transform: translateX(-0.16%);
  }

  14% {
    transform: translateX(-0.17%);
  }

  18% {
    transform: translateX(0.04%);
  }

  26% {
    transform: translateX(0.58%);
  }

  28% {
    transform: translateX(0.55%);
  }

  40% {
    transform: translateX(-1.56%);
  }

  42% {
    transform: translateX(-1.64%);
  }

  56% {
    transform: translateX(4.63%);
  }

  58% {
    transform: translateX(4.4%);
  }

  72% {
    transform: translateX(13.12%);
  }

  86% {
    transform: translateX(-17.06%);
  }

  100% {
    transform: translateX(70%);
  }

}

@keyframes undefined-easeInElastic {
  0% {
    transform: translateX(0%);
  }

  4% {
    transform: translateX(-0.04%);
  }

  8% {
    transform: translateX(-0.16%);
  }

  14% {
    transform: translateX(-0.17%);
  }

  18% {
    transform: translateX(0.04%);
  }

  26% {
    transform: translateX(0.58%);
  }

  28% {
    transform: translateX(0.55%);
  }

  40% {
    transform: translateX(-1.56%);
  }

  42% {
    transform: translateX(-1.64%);
  }

  56% {
    transform: translateX(4.63%);
  }

  58% {
    transform: translateX(4.4%);
  }

  72% {
    transform: translateX(-13.12%);
  }

  86% {
    transform: translateX(37.06%);
  }

  100% {
    transform: translateX(-100%);
  }

}
