@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';

.section-title {
  &__title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;

    @include tablets {
      font-size: 28px;
    }
  }
}
