@import '/styles/variables';
$border: 2px;

.banner-advantages {
  position: relative;
  display: flex;
  align-items: center;
  width: 435px;
  max-width: 435px;
  max-height: 210px;
  padding: 33px 50px 45px 57px;
  color: #FFF;
  background: #00000091;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 24px;

  &__title {
    margin: 0 0 27px 0;
    font-size: 50px;
    font-weight: 500;
    color: $color-yellow;
  }

  &__text {
    margin: 0;
    line-height: 25px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(343deg, rgb(44 37 37) 0%, rgb(111 111 111) 100%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 240px;
    height: 100px;
    background-color: #40b0522e;
    filter: blur(50px);
    border-radius: 100%;
    z-index: 2;
  }
}
