@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';

$border: 2px;

.banner-advantages {
  position: relative;
  display: flex;
  align-items: center;
  width: 435px;
  max-width: 435px;
  max-height: 210px;
  padding: 33px 50px 45px 57px;
  color: #FFF;
  background: #1d1d1b;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 24px;

  @include x-large {
    max-width: none;

    width: calc(100% / 3 - 20px);
    padding: 25px 40px 25px 40px;
  }

  @include large {
    width: calc(100% / 3 - 15px);
    padding: 23px 35px 23px 35px;
  }

  @include tablets {
    width: 100%;
    min-height: 160px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0 0 27px 0;
    font-size: 50px;
    font-weight: 500;
    color: $color-yellow;

    @include x-large {
      margin: 0 0 20px 0;
      font-size: 40px;
    }

    @include large {
      font-size: 31px;
    }

    @include tablets {
      margin-bottom: 10px;
      font-size: 28px;
    }
  }

  &__text {
    margin: 0;
    line-height: 25px;

    @include x-large {
      font-size: 14px;
    }

    @include large {
      font-size: 12px;
      line-height: 1.6;
    }

    @include tablets {
      font-size: 16px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: #252525;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 240px;
    height: 100px;
    background: rgba(64, 176, 82, 0.4);
    filter: blur(100px);
    border-radius: 100%;
    z-index: 2;
  }
}
