@import "../../../styles/scss/variables";
@import "../../../styles/scss/breakpoint";

.preview_menu {
  display: flex;
  align-items: center;
  width: 350px;
  margin-left: -35px;

  @include large {
    width: 130px;
  }

  &__image {
    &_wrap {
      position: relative;
      min-width: 350px;
      z-index: 2;

      @include large {
        min-width: 180px;
      }
    }
  }

  &__text_wrap {
    position: relative;
    left: -295px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 114px;
    min-width: 290px;
    padding: 10px;
    background-color: $color-white;
    border-radius: 10px;
    font-weight: 500;

    @include large {
      left: -125px;
      height: 100px;
      min-width: 260px;
      font-size: 14px;
    }
  }

  &__text {
    width: 150px;

    @include large {
      width: 130px;
    }
  }
}
