@import "../../../styles/scss/variables";
@import '../../../styles/scss/breakpoint';

.options-day-btn {
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-bottom: 13px;
    padding: 0 20px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid $color-pink;
    color: #fff;
    transition: background-color 0.2s;
    white-space: nowrap;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: #C0343416;
    }

    &--active {
      background-color: $color-pink;

      &:hover {
        background-color: lighten($color-pink, 5%);
      }
    }
  }

  &:not(:nth-child(3n)) {
     margin-right: 15px;
  }

  @include tablets {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
