@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';

.feedback {
  padding: 25px;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;

  &__avatar {
    margin-bottom: 35px;
    width: 80px;
    height: 80px;

    @include large {
      margin-bottom: 25px;
    }

    @include small {
      margin-bottom: 37px;
    }
  }

  &__name {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 22px;

    @include large {
      margin-bottom: 25px;
    }

    @include small {
      margin-bottom: 37px;
    }
  }

  &__comment {
    min-height: 110px;
    font-size: 14px;
    line-height: 1.5;

    @include large {
      font-size: 12px;
    }

    @include tablets {
      font-size: 14px;
    }
  }
}
