@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';

.cart-component {
  display: flex;
  justify-content: space-between;
  width: 1440px;

  @include xx-large {
    width: 1300px;
  }

  @include x-large {
    width: 1150px;
  }

  @include large {
    flex-direction: column-reverse;
    width: 610px;
    background-image: $gradient-black;
  }

  @include small {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  &__left {
    width: 58%;
    padding: 27px 40px 44px 40px;
    background-color: $color-green;

    @include large {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      padding: 0 90px 0;
      background-color: transparent;
    }

    @include small {
      padding: 0 30px 0;
    }

    @include x-small {
      padding: 0 15px 0;
    }
  }

  &__right {
    position: relative;
    width: 42%;
    background-image: $gradient-black;
    padding: 50px 105px 50px 105px;
    color: #fff;

    @include xx-large {
      padding: 50px 70px 50px 80px;
    }

    @include x-large {
      padding: 50px 5px 50px 35px;
    }

    @include large {
      background: transparent;
      padding: 50px 90px 0;
      width: 100%;
    }

    @include small {
      padding: 40px 30px 0;
    }

    @include x-small {
      padding: 40px 15px 0;
    }
  }

  &__week {
    display: flex;
    margin-bottom: 30px;

    @include x-large {
      justify-content: space-between;
    }

    @include large {
      margin-bottom: 40px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    background-image: url(#{$IMG_PATH}/icons/icon-close.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transform: rotate(0);
    transition: opacity 0.2s ease-in, transform 0.3s ease;

    @include small {
      top: 25px;
      right: 30px;
    }

    &:hover {
      opacity: 1;
      transform: rotate(180deg);
    }
  }

  &__title {
    margin-bottom: 30px;
    color: #fff;
    font-size: 13px;

    @include large {
      display: none;
    }
  }

  &__dishes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__dish-wrap {
    @include large {
      color: #fff;
    }
  }

  &__last {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__right-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;

    @include small {
      margin-bottom: 40px;
      font-size: 12px;
    }
  }

  &__buttons-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    z-index: 0;

    @include large {
      margin-bottom: 25px;
    }

    @include small {
      margin-bottom: 18px;
      width: 380px;
    }
  }

  &__info {
    @include large {
      display: flex;
    }
  }

  &__about-plan {
    margin-bottom: 100px;

    @include x-large {
      margin-bottom: 40px;
    }
  }

  &__cCal {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff80;

    @include large {
      font-size: 10px;
    }

    @include small {
      font-size: 8px;
    }
  }

  &__program {
    margin-bottom: 28px;
    line-height: 1.3;
    font-size: 30px;
    font-weight: 500;

    @include x-large {
      font-size: 28px;
    }

    @include large {
      font-size: 24px;
    }

    @include small {
      margin-bottom: 10px;
    }
  }

  &__description {
    line-height: 1.45;
    font-size: 18px;

    @include x-large {
      font-size: 16px;
    }

    @include large {
      font-size: 12px;
    }
  }

  &__cost {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 80px;
    color: #ffffff80;

    @include large {
      margin-bottom: 0;
      width: 300px;
      font-size: 24px;
    }

    @include small {
      width: 260px;
      white-space: nowrap;
    }
  }
}

.main_button {
  width: 100%;
  min-height: 80px;
  border-radius: 0;
  font-size: 18px;
}

.weekday {
  width: calc(100% / 7 - 10px);

  @include large {
    width: calc(100% / 7 - 20px);
  }
}

.next-btn {
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 1.8;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @include large {
    display: none;
  }

  &:hover &__arrow {
    transform: translateX(5px);
  }

  &__day {
    margin-right: 20px;
    font-size: 13px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.3s $easing-back-out;
  }
}
