@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';

.input-text {
  display: flex;
  flex-direction: column;
  position: relative;

  @include large {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__area {
    position: relative;
  }

  &__label {
    position: absolute;
    top: -50%;
    left: 0;
    color: #ffffffB3;
    font-size: 14px;
    transform: translateY(100%);
    transition: transform 0.2s $easing-back-out;

    &.active {
      transform: translateY(0);
    }
  }

  &__input {
    width: 100%;
    height: 35px;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 14px;

    &.error_input {
      border-bottom: 1px solid $color-error;
      color: $color-error;
    }
  }
}

.error {
  font-size: 12px;
  color: $color-error;
}
