@import "../../../styles/scss/variables";
@import "../../../styles/scss/breakpoint";

$desk-width: 170px;
$x-large-width: 130px;
$large-width: 110px;

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: $desk-width;
  min-height: $desk-width;
  width: $desk-width;
  height: $desk-width;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: $color-background;
  cursor: pointer;

  @include x-large {
    min-width: $x-large-width;
    min-height: $x-large-width;
    width: $x-large-width;
    height: $x-large-width;
  }

  @include large {
    min-width: $large-width;
    min-height: $large-width;
    width: $large-width;
    height: $large-width;
  }

  @include tablets {
    min-width: $x-large-width;
    min-height: $x-large-width;
    width: $x-large-width;
    height: $x-large-width;
    cursor: auto;
  }

  @include small {
    min-width: $desk-width;
    min-height: $desk-width;
    width: $desk-width;
    height: $desk-width;
  }

  &_black {
    background: $color-black;
    border: 1px solid $color-pink;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.15);
    color: #fff;
  }

  &_img {
    margin-bottom: 10px;
    background-size: contain;
    width: 45px;
    height: 45px;

    @include x-large {
      width: 30px;
      height: 30px;
    }
  }

  &_text {
    width: 110px;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    font-weight: 500;

    @include x-large {
      font-size: 11px;
      line-height: 1.2;
    }

    @include large {
      width: 70px;
    }

    @include small {
      font-size: 14px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
