@import "/styles/variables";

.calories-choice-btn {
  &:not(:last-child) {
    margin-right: 20px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 45px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken(#fff, 10%);
    }

    &--active {
      background-color: $color-black;
      border: 1px solid $color-pink;
      color: #fff;
      font-weight: 500;
      &:hover {
        background-color: lighten($color-black, 10%);
      }
    }
  }



  &__title {

  }

  &__cCal {
    font-size: 8px;
  }
}
