@import '../../../../styles/scss/variables';
@import '../../../../styles/scss/breakpoint';

.map_section {
  position: relative;
  margin-top: -250px;

  @include small {
    margin-top: 0;
  }
}

.address {
  position: absolute;
  top: 35px;
  right: 57%;

  @include large {
    right: 50%;
  }

  @include tablets {
    position: static;

  }
}
