@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';
$border: 2px;

.calculator-component {
  position: relative;
  width: 435px;
  max-width: 435px;
  min-width: 435px;
  color: #FFF;
  background: #00000091;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 24px;

  @include tablets {
    background: transparent;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
  }

  @include small {
    width: auto;
    max-width: none;
    min-width: auto;
  }

  &__content {
    position: relative;
    padding: 25px 25px 5px 25px;
    z-index: 3;

    @include tablets {
      padding: 0;
    }
  }

  &__wrap-info {
    display: flex;
    margin-bottom: 32px;

    @include tablets {
      margin-bottom: 22px;
    }
  }

  &__left {
    min-width: 120px;
    max-width: 120px;

    @include small {
      min-width: 100px;
    }
  }

  &__title {
    margin-bottom: 3px;
    font-size: 35px;
    font-weight: 500;

    &.little-title {
      font-size: 22px;
    }

    @include small {
      margin-bottom: 17px;
      font-size: 24px;

      &.little-title {
        font-size: 16px;
      }
    }
  }

  &__cCal {
    font-size: 8px;
  }

  &__right {
    padding-right: 20px;
    height: 165px;

    @include small {
      padding-right: 0;
    }
  }

  &__description {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 21px;

    @include tablets {
      margin-bottom: 19px;
      font-size: 12px;
    }
  }

  &__text {
    margin-bottom: 10px;
    font-weight: 500;

    @include tablets {
      margin-bottom: 15px;
      padding: 6px 30px;
      background-color: #fff;
      color: #131313;
    }

    @include small {
      font-size: 12px;
    }
  }

  &__deliveryText {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff99;
  }

  &__buttonsGroup {
    display: flex;
    flex-wrap: wrap;

    @include tablets {
      display: none;
    }
  }

  &__dividing-line {
    margin-bottom: 20px;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(37,37,37,1) 85%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(37,37,37,1) 85%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(37,37,37,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#252525",GradientType=1);
    width: 100%;
    height: 1px;

    @include tablets {
      display: none;
    }
  }

  &__total-wrap {
    position: relative;
    padding: 0 25px 55px 25px;
    line-height: 35px;
    z-index: 3;

    @include tablets {
      display: none;
    }
  }

  &__total-text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__total-text {
    font-weight: 500;
  }

  &__total-sum {
    font-size: 44px;
    color: #ffffff99;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(343deg, rgb(44 37 37) 0%, rgb(111 111 111) 100%);

    @include tablets {
      background: transparent;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 340px;
    height: 340px;
    background: rgb(64,176,82);
    background: -moz-linear-gradient(351deg, rgba(64,176,82,1) 0%, rgba(255,87,106,1) 100%);
    background: -webkit-linear-gradient(351deg, rgba(64,176,82,1) 0%, rgba(255,87,106,1) 100%);
    background: linear-gradient(351deg, rgba(64,176,82,1) 0%, rgba(255,87,106,1) 100%);
    filter: blur(50px);
    border-radius: 100%;
    pointer-events: none;
    opacity: 0.2;
    z-index: 2;

    @include tablets {
      background: transparent;
    }

    @include small {
      height: auto;
    }
  }
}
