@import "../../../styles/scss/variables";
@import "../../../styles/scss/breakpoint";

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #00000047;
  backdrop-filter: blur(10px);
  z-index: 21;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  overflow-x: auto;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__wrap {
    max-height: 100vh;
    padding: 40px 0;

    @include xx-small {
      padding: 40px 20px;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    padding: 50px 95px;
    background-color: $color-black;
    transform: translateY(-100%);
    transition: 0.2s $easing-back-out;
    color: white;
    box-shadow: inset 0 0 10px #FFFFFF7F;
    border-radius: 24px;
    overflow: hidden;

    @include x-small {
      padding: 40px 75px;
    }

    @include x-small {
      padding: 40px 25px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 300px;
      height: 300px;
      left: -165px;
      top: 143px;
      background-color: #FF576A4C;
      filter: blur(100px);
    }

    &:before {
      content: "";
      position: absolute;
      width: 179px;
      height: 179px;
      left: 380px;
      top: 180px;
      background-color: #EBDA1626;
      filter: blur(100px);
    }

    @include small {
      height: 100%;
      width: 100%;
    }

    &.active {
      transform: translateY(0);
    }
  }
}
