@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';

$font-size-title: 16px;
$font-size-title-l: 14px;
$line-height: 1.2;
$lines-to-show: 2;

.cart-dish-component {
  padding: 15px 20px;
  max-width: 200px;
  min-width: 200px;
  background-color: #fff;
  border-radius: 23px;

  @include xx-large {
    min-width: 170px;
  }

  @include x-large {
    min-width: 140px;
  }

  @include large {
    background-color: transparent;
    max-width: 280px;
    min-width: 280px;
  }

  @include tablets {

  }

  &__img-wrap {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 15px;
    width: 80%;
    font-weight: 600;
    display: block;
    display: -webkit-box;
    height: $font-size-title*$line-height*$lines-to-show;
    font-size: $font-size-title;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include large {
      width: auto;
      height: $font-size-title-l*$line-height*$lines-to-show;
      font-size: $font-size-title-l;
    }
  }

  &__text {
    min-height: 60px;
    font-size: 12px;
  }
}
