@import "../../../styles/scss/variables";
@import "../../../styles/scss/breakpoint";

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #00000047;
  backdrop-filter: blur(10px);
  z-index: 21;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  overflow-x: auto;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__wrap {
    max-height: 100vh;
    padding: 40px 0;

    @include small {
      padding: 0;
      width: 100%;
    }
  }

  &__content {
    background-color: #fff;
    transform: translateY(-100%);
    transition: 0.2s $easing-back-out;

    @include small {
      height: 100%;
      width: 100%;
    }

    &.active {
      transform: translateY(0);
    }
  }
}
