@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';

.separator-line-component {
  display: flex;
  align-items: center;

  &__title {
    height: 15px;
    left: 40px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    white-space: nowrap;

    @include small {
      margin-right: 10px;
    }

    @include x-small {
      font-size: 10px;
    }
  }

  &__line {
    height: 2px;
    width: 100%;
    opacity: 0.4;
  }
}
