.separator-line-component {
  display: flex;
  align-items: center;

  &__title {
    height: 15px;
    left: 40px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF99;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__line {
    background-color: #FFFFFF66;
    height: 2px;
    width: 100%;
  }
}
