@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';

.accordion-component {
  //margin-bottom: 20px;
  padding: 0 223px;
  color: #fff;
  cursor: pointer;

  @include tablets {
    padding: 0;
  }

  &__open {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: transform 0.4s $easing-back-out;
  }

  &__title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 90px;
    border-bottom: 1px solid #fff;
    //margin-bottom: 20px;
  }

  &__title {
    padding: 10px 10px 10px 0;
    font-weight: 500;
    font-size: 18px;

    @include large {
      font-size: 16px;
    }
  }

  &__description {
    margin-bottom: 20px;
    padding: 0 20px;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    transition: all 0.3s $easing-back-out;
    opacity: 0.5;
  }
}

