@import "../../styles/scss/variables";
@import "../../styles/scss/breakpoint";

.section {
  padding-top: 80px;
  position: relative;
  flex: 1 1 100%;
  background-image: linear-gradient(270deg, #323232 0%, #323232 79%, $color-grey 79%, $color-grey 100%);

  @include large {
    background-image: none;
    background-color: #323232FF;
  }

  @include x-small {
    padding-top: 60px;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  @include large {
    flex-direction: column;
    justify-content: flex-start;
  }
}



.left_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  width: 25%;
  background-color: $color-grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  @include large {
    position: absolute;
    top: 12%;
    left: 0;
    flex-direction: row;
    width: 100%;
    padding: 25px 20px;
    border-radius: 20px;
    z-index: 2;
  }

  @include tablets {
    top: 9%;
  }

  @include small {
    padding: 20px;
  }
}

.top {
  @include large {
    width: 100%;
  }
}

.avatar {
  margin-bottom: 55px;
  width: 100px;
  height: 100px;
  background-color: #F4F4F4;
  background-image: url("#{$IMG_PATH}/icons/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease;

  @include large {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablets {
    top: 110px;
  }

  &:hover {
    background-color: darken(#F4F4F4, 5%);
  }

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.menu_list {
  @include large {
    display: flex;
    justify-content: space-between;
  }
}

.menu_item {
  margin-bottom: 35px;
  font-size: 18px;
  color: #fff;
  opacity: 0.5;

  @include large {
    margin-bottom: 0;
    white-space: nowrap;
  }

  @include small {
    font-size: 14px;
  }

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.8;
  }
}

.log_out {
  display: block;
  padding-left: 30px;
  background-image: url("#{$IMG_PATH}/icons/log-out.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;

  @include large {
    position: absolute;
    top: -110%;
    right: 20px;
  }

  @include tablets {
    top: -97%;
  }

  @include small {
    top: -140%;
    font-size: 14px;
  }
}

.right_content {
  position: relative;
  padding: 60px 80px;
  width: 75%;
  z-index: 0;

  @include large {
    width: 100%;
    padding: 30px 0;
  }

  @include tablets {
    padding: 50px 0;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  @include large {
    margin-bottom: 330px;
  }

  @include small {
    width: 80%;
    font-size: 28px;
  }

  @include x-small {
    margin-bottom: 290px;
  }
}

.wrap {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

