@import "../../styles/scss/variables";
@import "../../styles/scss/breakpoint";

.hint {
  display: flex;
  height: 75px;
  min-width: 340px;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 16px;

  @include large {
    height: 65px;
  }
  @include small {
    min-height: 50px;
    min-width: auto;
    height: auto;
    width: 280px;
    padding: 15px 40px 15px 16px;
  }
  @include x-small {
    width: 240px;
    padding: 15px 50px 15px 16px;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__indicator {
    min-width: 15px;
    min-height: 15px;
    margin-right: 30px;
    background-color: $color-green;
    border-radius: 100%;

    @include small {
      min-width: 11px;
      min-height: 11px;
      margin-right: 13px;
    }
  }

  &__text {
    @include large {
      font-size: 15px;
    }

    @include small {
      font-size: 14px;
    }
    @include x-small {
      font-size: 11px;
    }
  }
}
