@import '../../../../styles/scss/variables';
@import '../../../../styles/scss/breakpoint';

.whom {
  position: relative;
  min-height: 800px;

  @include tablets {
    min-height: auto;
  }
}

.whom_title {
  @include tablets {
    margin-bottom: 45px;
    width: 45%;
  }
}

.title {
  text-align: center;

  @include tablets {
    text-align: left;
  }
}

.content {
  @include tablets {
  }
}

.img_wrap {
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-42%);
  z-index: 2;

   @include tablets {
     width: 470px;
     left: 70%;
     bottom: -130px;
   }

  @include small {
    width: 413px;
    left: 79%;
    bottom: -122px;
  }
}

.yellow_left {
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: -2;

  @include large {
    display: none;
  }
}

.ellipse {
  position: absolute;
  width: 710px;
  height: 722px;
  left: 52%;
  bottom: -30px;
  transform: translateX(-52%);
  z-index: -1;

  @include tablets {
    width: 550px;
    left: 69%;
    bottom: -320px;
  }
}

.yellow_right {
  position: absolute;
  right: 0;
  bottom: -30px;
  z-index: -2;

  @include large {
    display: none;
  }
}

.hint {
  position: absolute;

  &_1 {
    top: 213px;
    right: 68%;
  }
  &_2 {
    top: 440px;
    right: 59%;
    z-index: 2;
  }
  &_3 {
    bottom: 63px;
    left: 42%;
    z-index: 2;
  }
  &_4 {
    top: 440px;
    right: 340px;
    z-index: 3;
  }
  &_5 {
    top: 213px;
    right: 262px;
    z-index: 3;
  }

  @include x-large {
    &_3 {
      right: 29%;
    }
    &_4 {
      right: 190px;
    }
    &_5 {
      right: 100px;
    }
  }

  @include large {
    &_1 {
      right: 64%;
    }
    &_3 {
      right: 26%;
    }
    &_4 {
      right: 110px;
    }
    &_5 {
      right: 40px;
    }
  }

  @include tablets {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    &_2 {
      z-index: 1;
    }
    &_3 {
      z-index: 1;
    }
  }

  @include tablets {
    position: relative;
    width: 400px;
    padding-left: 25px;
    transform: translateX(0);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
