@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';

.order-page {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $color-black;
  padding-top: 165px;
  padding-bottom: 80px;
  z-index: 0;

  @include tablets {
    padding-top: 140px;
  }

  @include x-small {
    padding-top: 110px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;

    @include small {
      font-size: 28px;
    }

    @include x-small {
      margin: 0 0 20px 0;
      font-size: 17px;
    }
  }
}
