@import '../../styles/scss/variables';
@import '../../styles/scss/breakpoint';

.address-service-component {
  width: 460px;
  min-width: 460px;
  background-color: #fff;
  padding: 53px 30px 50px 72px;
  border-radius: 24px;

  @include small {
    width: auto;
    min-width: auto;
    padding: 43px 30px 50px 26px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 22px;
  }

  &__description {
    margin-bottom: 20px;

    @include small {
      margin-bottom: 25px;
    }
  }

  &__button {
    margin-bottom: 35px;
    width: 316px;
    font-size: 18px;

    @include small {
      margin-bottom: 25px;
      width: 200px;
      height: 40px;
      font-size: 14px;
    }
  }



  &__address-text {
    margin-bottom: 20px;
    font-size: 12px;
  }

  &__small-text {
    color: #2323234D;
    line-height: 18px;
    font-size: 12px;
  }
}

