@import '/styles/variables';

.header {
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #d2d2d2;

  &__title {
    margin: 0;
  }
}

.wrap {
  margin-bottom: 30px;
}

.background {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 20px;

  &_yellow {
    background-color: $color-yellow;
  }

  &_black {
    background-color: $color-black;
  }
}

