@import '/styles/variables';

.header {
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #d2d2d2;

  &__title {
    margin: 0;
  }
}

.wrap {
  margin-bottom: 10px;
}

.background {
  margin-bottom: 10px;
  padding: 30px 0;

  &_yellow {
    background-color: $color-yellow;
  }

  &_black {
    position: relative;
    background-color: $color-black;
    z-index: -2;
  }
}

