@import "../../../styles/scss/variables";
@import "../../../styles/scss/breakpoint";

.week-days-indicator-cart {
  &:not(:last-child) {
    margin-right: 17px;

    @include x-large {
      margin-right: 0;
    }
  }

  &__title {
    margin-top: -53px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 52px;
    opacity: 0.5;

    @include large {
      margin-top: -43px;
      font-size: 10px;
    }

    &--active {
      opacity: 0.9;
    }
  }

  &__btn {
    width: 100%;
    height: 7px;
    border-radius: 9px;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.2s;
    cursor: pointer;
    text-align: center;

    &:not(&--active ):hover {
      opacity: 0.8;
      box-shadow: 0 0 5px 0 #fff;
    }

    &--active {
      background-color: #fff;
      opacity: 0.9;
    }
  }
}
